p,h1,h2,nav,.bienvenida,#pieFoto{
	font-family: Garamond,Georgia;
}

h1{
	line-height: 1.6;
	padding: 0px;
}
.titulo_principal{
	font-size: 50px;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	background-color: lightpink;
}

nav{
	text-align: center;
	margin-bottom: 0px;
}
.navegacion{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	background-color: beige;
	height: 50px;
	width: 100%;
			
}
li{
	display: inline;
	margin-right: 70px;
	font-size: 18px;
	padding: 120px;
}
.pag{
	font-size: 25px;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: hotpink;
}

h2{
	font-size: 30px;
	margin-left: 250px;
	margin-right: 250px;
	text-align: justify;
}

.bienvenida{
	font-size: 22px;
	text-align: justify;
	line-height: 1.8;
	margin-right: 250px;
	margin-left: 250px;
}

#tienda{
	float: left;
	margin-left: 250px;
	width: calc(100% - 830px);
	height: auto;

}

#ubicacion{
	margin-top: 50px;
	
}


#ubi{
	float: left;
	width: 300px;
	margin-left: 30px;
	font-size: 22px;
	line-height: 1.8;
	background-color: lightpink;
	text-align: center;
}

#logoUbi{
	margin-left: 30px;
	margin-top: 30px;
}

#pieFoto{
	font-size: 20px;
	color: black;
	margin-top: 10px;
	clear: both;
	text-align: left;
	margin-left: 220px;
	padding: 30px;

}

#botonArriba{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: lightpink;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#botonArriba:hover{
	background-color: hotpink;
}



footer{
	clear: both;
}
hr{
	clear: both;
}

#derechos{
	font-size: 15px;
	color: grey;
	text-align: center;
	height: 50px;
}



/*Estilos para tablet */

@media only screen and (max-width:768px){
	img{
		width: 100%;
		height: auto;
	}


	body{
		padding: 10px;
	}

	.titulo_principal{
		font-size: 40px;
		text-align: center;
		height: auto;
	}

	nav{
		margin-bottom: 10px;
	}

	.navegacion{
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	li{
		margin-bottom: 10px;
		margin-right: 0;
	}

	img{
		width: 100%;
		height: auto;
	}

	p{
		margin-left: 20px;
		margin-right: 20px;
		font-size: 18px;
	}

	#tienda, #ubi{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

}

/* Estilos para móviles */

@media only screen and (max-width: 480px){
	.titulo_principal{
		font-size: 30px;
	}

	.navegacion{
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	p{
		font-size: 16px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#tienda, #ubi {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#botonArriba{
		font-size:16px ;

	}
}
